.content { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections { 
  display: grid; 
  gap: 24px;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.contact {
  position: relative;
  padding: 60px 0;
  margin-top:20vw;
}

.contactBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* opacity: 0.3; */
  pointer-events: none;
}

.contactBackground img {
  width: 100%;
  min-height: 1100px;
  height: auto;
  display: block;
}

.contactFormWrapper {
  position: relative;
  z-index: 2;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
  bottom: 10vw;
}


/* Contact layout grid */
.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.formCol { min-width: 0; }
.mapCol { min-width: 0; }

@media (max-width: 992px) {
  .contactGrid {
    grid-template-columns: 1fr;
  }
}


