.content { 
  padding: 24px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections { 
  display: grid; 
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}
.footerImage { padding: 24px 0 0; }


